<div class='container container-top-padding'>
    <div class="row">
        <div class="col-md-12 content-container" style="min-height:420px;font-size:18px;">
            <h6 class="heading-style-1">About EGAZE</h6>


            <p class="content-style">
                eGaze is India&#39;s first comprehensive property management portal with a specific focus on rural properties. <img src="../../assets/images/About_egaze_image2.jpg" width="300px" style="float:right;padding:8px 0px 5px 10px;" /> We are the
                only service provider who provides end-to-end property management services, in an industry where most other vendors only provide specific services, or service
                only buildings, or only urban areas, etc.<br/><br/>Our core mission is to provide property management services to
                owners living away from their property and act as an owner delegate with respect to any regulatory and compliance
                obligation for the property.<br/><br/>With a core team of veteran real estate professionals, rural entrepreneurs and
                cloud solution delivery architects, the team eGaze has a cumulative experience of over 30 years in providing
                real estate and digital management solutions. <img src="../../assets/images/About_egaze_image1.jpg" width="300px" style="float:left;padding:10px 10px 10px 0px;" />Commencing with our core property monitoring solutions, we
                will soon be offering end-to-end property lifecycle management services including acquisition, monitoring,
                maintenance and disposal offerings.</p>
        </div>
    </div>
</div>